# 0.0 Importando Bibliotecas

In [2]:
import numpy  as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.neighbors   import KNeighborsClassifier

# 0.2 Loading Datasets

In [28]:
X_train = pd.read_csv('../datasets/Classification/X_training.csv')
X_test = pd.read_csv('../datasets/Classification/X_test.csv')
X_val = pd.read_csv('../datasets/Classification/X_validation.csv')

y_train = pd.read_csv('../datasets/Classification/y_training.csv').values
y_test = pd.read_csv('../datasets/Classification/y_test.csv').values
y_val = pd.read_csv('../datasets/Classification/y_validation.csv').values

In [29]:
X_train.head()

,id,customer_type,age,class,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,...,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,gender_Female,gender_Male,type_of_travel_business_travel,type_of_travel_personal_travel
0,13508,1,0.500000,0.0,0.039580,0.6,0.6,0.6,0.6,1.0,...,0.5,1.00,0.6,0.4,0.000000,0.013848,1.0,0.0,1.0,0.0
1,28874,1,0.243590,0.0,0.205775,0.6,0.4,0.4,0.4,0.6,...,0.5,0.50,0.2,0.6,0.000000,0.000000,0.0,1.0,1.0,0.0
2,21484,0,0.435897,1.0,0.026858,0.6,0.6,0.6,0.2,1.0,...,0.0,1.00,0.6,1.0,0.000000,0.000000,1.0,0.0,1.0,0.0
3,48280,1,0.589744,0.5,0.041397,0.6,1.0,0.6,0.6,0.8,...,0.0,1.00,0.4,0.4,0.029499,0.020772,1.0,0.0,0.0,1.0
4,472,0,0.423077,1.0,0.016559,0.2,0.2,0.2,0.8,0.6,...,1.0,0.75,0.8,0.6,0.021632,0.019782,0.0,1.0,1.0,0.0

In [30]:
X_train.shape

(72515, 25)

# 0.3 Análise do Dataset

###  Recebemos os vdados resposta como um array com N linhas e 1 coluna, mas para aplicarmos os algoritmos, precisamos mudar o formato utilizando a função .ravel()

In [31]:
# Recebemos os vdados resposta como um array com N linhas e 1 coluna, mas para aplicarmos os algoritmos, precisamos mudar o formato utilizando a função .ravel()
y_train = y_train.ravel()
y_test = y_test.ravel()
y_val = y_val.ravel()

In [32]:
y_val

array([1, 0, 1, ..., 0, 0, 1], dtype=int64)

### Agora vamos analisar como os dados se comportam antes de podermos aplicar o algoritmo de Machine Learning

In [35]:
X_train.dtypes

id                                     int64
customer_type                          int64
age                                  float64
class                                float64
flight_distance                      float64
inflight_wifi_service                float64
departure_arrival_time_convenient    float64
ease_of_online_booking               float64
gate_location                        float64
food_and_drink                       float64
online_boarding                      float64
seat_comfort                         float64
inflight_entertainment               float64
on_board_service                     float64
leg_room_service                     float64
baggage_handling                     float64
checkin_service                      float64
inflight_service                     float64
cleanliness                          float64
departure_delay_in_minutes           float64
arrival_delay_in_minutes             float64
gender_Female                        float64
gender_Male                          float64
type_of_travel_business_travel       float64
type_of_travel_personal_travel       float64
dtype: object

### Temos que retirar o Id, pois ele não é uma variável categórica e não irá nos ajudar na hora de aplicar os algoritmos

In [36]:
X_train = X_train.drop(['id'], axis=1).values

# 1.0 Algoritmos

### Vamos fazer as tabelas em Python para cada um de nossos algoritmos, começando pelo KNN.

In [42]:
classification_columns = ['Accuracy', 'Precision', 'Recall', 'F1-Score']

train_metrics = pd.DataFrame(columns=classification_columns)
test_metrics = pd.DataFrame(columns=classification_columns)
val_metrics = pd.DataFrame(columns=classification_columns)

In [43]:
train_metrics

Empty DataFrame
Columns: [Accuracy, Precision, Recall, F1-Score]
Index: []

## Mas o que são essas métricas?

### Matriz de Confusão

|               | Valores Previstos   |                     |   |
|---------------|---------------------|---------------------|---|
|               | Classe Positiva (P) | Classe Negativa (N) |   |
| Valores Reais | True Positive (TP)  | False Negative (FN) |   |
|               | False Positive (FP) | True Negative (TN)  |   |


Acurácia: $$TP + TN \over TP + FP + FN + TN$$


Precisão:$$ TP \over TP + FP$$


Recall: $$ TP \over TP + FN $$


F1-Score: $$2 ((precision * recall) \over (precision + recall)) $$

# KNN - K-Nearest Neighbors

KNN é ditos por muitos como o algoritmo de Machine Learning mais simples. É utilizado tanto para Classificação quanto para Regressão. Para fazer uma previsão para um novo ponto, o algoritmo calcula a distância desse novo ponto para os outros e assim acha os pontos mais próximos,assim sendo chamado de "vizinhos mais próximos".

#### Os parâmetros do ensaio para a Otimização do KNN : n-neighbors. Ou seja, temos que achar os N vizinhos mais próximos que deixem o algoritmo o mais otimizado possível.

In [ ]:
# Aqui é a criação de uma função que testa todos os n-neighbors para saber qual valor tem a maior acurácia.
def knn_tunning(X_train, y_train):